<div class="columns m-t-xl">
  <div class="column card is-half is-offset-one-quarter">
    
    <button class="swal-aux" id="editSuccess" [swal]="{ title: 'Datos actualizados', text: '', type: 'success' }">
    </button>
    <button class="swal-aux" id="editError" [swal]="{ title: 'Error al editar', text: 'Vuelve a intentar más tarde', type: 'error' }">
    </button>

    <div class="card-content">
      <h1 class="title is-4 has-text-centered">Ajustes</h1>

      <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input [ngClass]="!name.valid && name.touched ? 'is-danger': ''" class="input" type="name" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[A-Za-z\sáéíóú]+">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </p>
          <p *ngIf="!name.valid && name.touched" class="help is-danger">Ingresa tu nombre correctamente</p>
        </div>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input [ngClass]="!surname.valid && surname.touched ? 'is-danger': ''" class="input" type="text" placeholder="Apellidos" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[A-Za-z\sáéíóú]+">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </p>
          <p *ngIf="!surname.valid && surname.touched" class="help is-danger">Ingresa tus Apellidos correctamente</p>
        </div>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input [ngClass]="!email.valid && email.touched ? 'is-danger': ''" class="input" type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
          <p *ngIf="!email.valid && email.touched" class="help is-danger">Ingresa tu Email correctamente</p>
        </div>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <textarea class="textarea" placeholder="Sobre ti..." name="description" #description="ngModel" [(ngModel)]="user.description"></textarea>
          </p>
        </div>

        <div class="field">
          <div class="file is-info has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Subir Avatar
                </span>
              </span>
              <span class="file-name">
                Screen Shot 2017-07-29 at 15.54.25.png
              </span>
            </label>
          </div>
        </div>

        <div class="buttons has-addons is-centered">
          <div class="control">
            <input type="submit" class="button is-primary" value="Guardar" [disabled]="editForm.invalid">
          </div>
        </div>

      </form>
    </div>

  </div>
</div>